<div class="educacion">
    
    <div class="educ">
     <h1 style="text-align: center;">Educación</h1>
     <ul>
     <li id="1"><h1>Estudio 1</h1><h3>1996</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Placeat consectetur unde temporibus deserunt! Tempora corrupti, 
         expedita a illo aliquid, 
         quas repellendus veritatis consectetur tenetur fuga delectus dolorum, 
         deleniti omnis maxime.</p>
     </li>
     <li id="2"><h1>Estudio 2</h1><h3>1997</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Placeat consectetur unde temporibus deserunt! Tempora corrupti, 
         expedita a illo aliquid, 
         quas repellendus veritatis consectetur tenetur fuga delectus dolorum, 
         deleniti omnis maxime.</p>
     </li>
     <li id="3"><h1>Estudio 3</h1><h3>1997</h3>
        <p>Lorem  sit amet consectetur adipisicing elit.
        Placeat consectetur unde temporibus deserunt! Tempora corrupti, 
        expedita a illo aliquid, 
        quas repellendus veritatis consectetur tenetur fuga delectus dolorum, 
        deleniti omnis maxime.</p>
    </li>
     </ul>
    </div>
 </div>
 
