<div>

    <ul style="list-style: none;" class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/marcos-benencia/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" id="linkedin"></i></a></li>
        <li class="list-group-item"><a href="https://github.com/Marcos-Ben" target="_blank"><i class="fa-brands fa-github fa-2xl" id="github"></i></a></li>
        <li class="list-group-item"><a href="https://twitter.com/Marcos_Benencia" target="_blank"><i class="fa-brands fa-twitter fa-2xl" id="twitter"></i></a></li>
        <li class="list-group-item"><i class="fa-solid fa-user-gear fa-2xl"type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></li>
    </ul>
<!-- formulario -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: aquamarine;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                  <input type="text"  class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label><div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" id="BotonGuardar">
                <label class="form-check-label" for="botonGuardar">Recordar Contraseña</label>
              </div>
              <button type="button" class="btn btn-primary">Ingresar</button>
            </div>
          </div>
        </div>
      </div> 
</div>
