<div class="background1" style="background-color: darkcyan; padding:10px 0px 0px 0px;">
<div class="row">
    <h1>Hard & Soft skills</h1>
    
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="70"
       [radius]="90"
       [showUnits]="false"
       [title]="'JavaScript'"
       [titleColor]="'black'"
       [titleFontSize]="'2em'"
       [imageSrc]="'../../assets/logolenguajes/html.png'"
       [imageHeight]="100"
       [imageWidth]="100"
       [showImage]="true"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'indigo'"
       [innerStrokeColor]="'lightgray'"
       [animation]="true"
       [animationDuration]="600"
       [lazy]="true"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
     [percent]="90"
     [radius]="90"
     [showUnits]="false"
     [imageSrc]="'../../assets/logolenguajes/css1.png'"
     [imageHeight]="100"
     [imageWidth]="100"
     [showImage]="true"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'indigo'"
     [innerStrokeColor]="'lightgray'"
     [animation]="true"
     [animationDuration]="600"
     [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
   [percent]="75"
   [radius]="90"
   [showUnits]="false"
   [imageSrc]="'../../assets/logolenguajes/javascript.png'"
   [imageHeight]="100"
   [imageWidth]="100"
   [showImage]="true"
   [showSubtitle]="false"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="2"
   [outerStrokeColor]="'indigo'"
   [innerStrokeColor]="'lightgray'"
   [animation]="true"
   [animationDuration]="600"
   [lazy]="true"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="70"
       [radius]="90"
       [showUnits]="false"
       [imageSrc]="'../../assets/logolenguajes/ingles.png'"
       [imageHeight]="100"
       [imageWidth]="100"
       [showImage]="true"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'indigo'"
       [innerStrokeColor]="'lightgray'"
       [animation]="true"
       [animationDuration]="600"
       [lazy]="true"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="100"
       [radius]="90"
       [showUnits]="false"
       [title]="'JavaScript'"
       [titleColor]="'black'"
       [titleFontSize]="'2em'"
       [imageSrc]="'../../assets/logolenguajes/workteam.png'"
       [imageHeight]="100"
       [imageWidth]="100"
       [showImage]="true"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'indigo'"
       [innerStrokeColor]="'lightgray'"
       [animation]="true"
       [animationDuration]="600"
       [lazy]="true"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
       [percent]="65"
       [radius]="90"
       [showUnits]="false"
       [imageSrc]="'../../assets/logolenguajes/github.png'"
       [imageHeight]="100"
       [imageWidth]="170"
       [showImage]="true"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'indigo'"
       [innerStrokeColor]="'lightgray'"
       [animation]="true"
       [animationDuration]="600"
       [lazy]="true"
      ></circle-progress>
    </div>
</div>

</div>