<div style="background-color:darkcyan;">
    <div class="altura">
        <img src="../../../assets/IMG/bb fp.gif" style="width: 250px; height:250px; border-radius: 130px;" id="fotoperfil">
        <div class="name">
            <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
    </div>
    
    <div class="abtm2">
        <h1 style="text-align: center;">Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ut exercitationem dicta praesentium eius saepe debitis reiciendis, 
            consequuntur vitae nam fuga quo rem doloribus incidunt, 
            quibusdam quis, asperiores excepturi obcaecati autem!
        </p>
    </div>
    
</div>